/*body{background-image:url("../images/Untitled.png");
    background-repeat: no-repeat;
    background-size: 100% 100%}*/
h1{
    font-size:40px;
}

div{height:5%;
    width: 2.5%;
float:left;}
.mountain{background-color: grey;
z-index:0;}
.water{background-color:blue;
z-index:0;}
.grass{background-color:lightgreen;
    z-index:0;}
.forest{background-color:green;
    z-index:0;}
.trader1{background-color:brown;
    z-index:0;}
.trader2{background-color:brown;
    z-index:0;}
.cave{background-color:black;
    z-index:0;}
.river{background-color:lightblue;
    z-index:0;}
.enemyhideout1{background-color:red;
    z-index:0;}
.enemyhideout2{background-color:red;
    z-index:0;}
.enemyhideout3{background-color:red;
    z-index:0;}
.enemyhideout4{background-color:red;
    z-index:0;}
.quest{background-color:purple;
    z-index:0;}
.sidequest{background-color:lavender;
    z-index:0;}
.healer{background-color:yellow;
    z-index:0;}
.playerstart{background-color:pink;
    z-index:0;}
.port{background-color:brown;
    z-index:0;}
.bridge{background-color:brown;
    z-index:0;}
.playersprite{z-index:1;
               height:100%;
            width: 80%;
            }

.eventbox{position:absolute;
z-index:5;
background-color:whitesmoke;
height:90%;
width:90%;
top:5%;
left:5%;}

.messagebox{width:60%;
            height:30%;
            background-color: black;
            color:white;
            border-width:1px;
        border-style:solid;
        border-color:lightgreen;
    float:right;
    margin-right:5%;
    margin-top:2%;}
.choicebox{width: 28%;
            height:30%;
        background-color:black;
        color:white;
        border-width:1px;
        border-style:solid;
        border-color:lightgreen;
    float:left;
margin-left:5%;
margin-top:2%;}

.animationbox{width:90%;
            height:50%;
            background-color:lightgrey;
            color:green;
            border-width:1px;
            border-style:solid;
            border-color:lightgreen;
        margin-left:5%;
        margin-top:2%;}

.eventtitle{height:5%;
            width:30%;
            margin:0 auto;
            border-width:1px;
            border-style:solid;
            border-color:lightgreen;
            
            }

.playerhealth{float:left;}

.choicetext{color:white;}
.choicetext:hover{background-color:teal;}
.testgrid{border-width:1px;
            border-style:solid;
            border-color:black;}