/*body{background-image:url("../images/Untitled.png");
    background-repeat: no-repeat;
    background-size: 100% 100%}*/
div{height:5%;
    width: 2.5%;
float:left;}
.mountain{background-color: grey;}
.water{background-color:blue;}
.grass{background-color:lightgreen;}
.forest{background-color:green;}
.trader1{background-color:brown;}
.trader2{background-color:brown;}
.cave{background-color:black;}
.river{background-color:lightblue;}
.enemyhideout1{background-color:red;}
.enemyhideout2{background-color:red;}
.enemyhideout3{background-color:red;}
.enemyhideout4{background-color:red;}
.quest{background-color:purple;}
.sidequest{background-color:lavender;}
.healer{background-color:yellow;}
.playerstart{background-color:pink;}
.port{background-color:brown;}
.bridge{background-color:brown;}
.playersprite{z-index:3;
                height:4%;
            width: 1.8%;
            }

.testgrid{border-width:1px;
            border-style:solid;
            border-color:black;}